.add-item-component {
  border-radius: 50%;
  background-color: rgba(238, 239, 240, 1);
  width: 150px;
  height: 150px;
  position: relative;
  cursor: pointer;
  &:hover {
    background-color: rgba(238, 239, 240, .75);
  }

  span {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    text-decoration: none;
    color: $secondary-font-color;
  }
}


.cover {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, .2);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 15;
}

.add-images-container {
  opacity: .3;
  border: 2px dashed #6c757d;
  padding: 100px;
  border-radius: 5px;
  display: block !important;
  pointer-events: none;
  position: relative;
  overflow: hidden;

  &.active {
    opacity: 1;
    pointer-events: auto;
  }

  .icon {
    font-size: 36px;
    color: #6c757d;
  }

  .text {
    font-size: 18px;
  }

  &:hover {
    border: 2px dashed darken(#6c757d, 5%);

    .icon {
      color: darken(#6c757d, 5%);
    }

  }
}


.gallery-image {
  position: relative;
  display: flex;
  justify-content: center;

  .gallery-image-container {
    position: relative;
    height: 200px;
    width: 200px;

    img {
      max-width: 200px;
      max-height: 200px;
      position: absolute;
      top: 0;
      right: 0;
    }
  }


  .button-container {
    position: absolute;
    top: 0;
    right: 0;

    .delete-button {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      background-color: #f46a6a;
      position: relative;
      cursor: pointer;
      overflow: hidden;
      z-index: 50;
      transition: 200ms ease-in-out;

      &:hover {
        background-color: #f14646;
      }

      span {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-decoration: none;
        color: white;
        z-index: 50;
      }
    }


  }
}
