.product-title {
  color: $primary-font-color;
  text-decoration: none;
  font-size: 18px;
}

.product-price {
  color: $primary-font-color;
  text-decoration: none;
  margin-top: auto;

}

.product-brand {
  color: $secondary-font-color;
  text-decoration: none;
  font-size: 14px;
}


