@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@700&display=swap');



h1.view-title{
  margin: 24px 0;
  color: $primary-font-color;
  font-size: 16px;
  font-family: $primary-font-family;
  text-transform: uppercase;
  font-weight: 600;
}
