//colors

$white: #fff;
$dark-blue:#2a3042;
$red: #ef4646;
$lightblue: rgba(175, 204, 224, .3);




$main: rgb(208, 204, 208);
$color: rgb(246, 246, 246);


$header-color: rgb(238, 239, 240);
$black: rgb(52, 58, 64);


$primary-font-color: rgb(52, 58, 64);
$secondary-font-color: rgb(126, 126, 127);


$primary-font-family: Roboto, sans-serif;




$header-background: $dark-blue;
$body-background: #f8f8fb;
$card-background: $white;
