$main: rgb(208, 204, 208);
$color: rgb(246, 246, 246);


$header-color: rgb(238, 239, 240);
$black: rgb(52, 58, 64);


$border-radius: 25px;

$primary-font-color: rgb(52, 58, 64);
$secondary-font-color: rgb(126, 126, 127);

$primary-font-family: Roboto, sans-serif;
