@import '~bootstrap';

@import "variables";
@import "typografie";
@import "input";
@import "buttons";

@import "card";
@import "gallery";
@import "product";

body {
  font-family: $primary-font-family;

  background: rgb(221, 221, 221);
  background: linear-gradient(0deg, rgba(221, 221, 221, 1) 50%, rgba(200, 203, 206, 1) 100%);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  background-attachment: fixed;
}


.menu {
  background: rgba(238, 239, 240, .3);
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 20px;

  .nav-link{
    font-size: 20px;
    color: $secondary-font-color;

    &.active{
      color: $primary-font-color;
    }
  }
}

.main-container{
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
}

.cover {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, .7);
  z-index: 100;
}