//@import '~bootstrap';
@import "layout/reset";

@import "variables";
@import "typografie";
@import "input";
@import "buttons";
@import "margins";

@import "cards/cards";
@import "gallery";
@import "product";

@import "layout/layout";
@import "grid/grids";

@import "product/product";

body {
  font-family: $primary-font-family;
  overflow: hidden;
}

.app-content-container {
  height: calc(100vh - 70px);
  overflow: auto;
}


.view-title-container {
  display: flex;
  justify-content: space-between;
}

.text-center {
  text-align: center;
}

.list-group {
  list-style: none;
  padding-left: 0;
}

.d-flex {
  display: flex;
}

.justify-space-between {
  justify-content: space-between;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .3s;
}

.fade-enter, .fade-leave-to
  /* .component-fade-leave-active below version 2.1.8 */
{
  opacity: 0;
}

.component-fade-enter-active, .component-fade-leave-active {
  transition: opacity .3s;
}

.component-fade-enter, .component-fade-leave-to
  /* .component-fade-leave-active below version 2.1.8 */
{
  opacity: 0;
}


.list-container {
  padding: 10px;
  max-height: 300px;
  min-height: 150px;
  overflow: auto;
}
